input {
  border: 2px solid #CCC !important;
}

.card-img-top {
  border-radius: 5px 5px 0 0;
}

.input-group {
  background: rgb(209, 206, 206);
  
}

.input-group-addon {
  border: 2px solid #CCC !important;
  border-right: 0px !important;
  margin: 6px 5px 0 5px;
}